<div class="row">
    <div class="col-md-10 col-md-offset-1" align=center>
        <% flash.each do |name, msg| %>

        <div class='alert alert-<%= "#{name}" %>'>
            <a href="#" data-dismiss='alert' class="close">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>

        </div>
        <% end %>

    </div>

</div>

