
<div class="page">
        <div class="container">
                
                <h1 align=center style="padding: 10vh; padding-bottom:5vh;">Enter New Product</h1>
                <div class="col-md-10 col-md-offset-1">
                        <%= render 'form', product: @product %>
                </div>
                
                        
                
        </div>
    
    </div>
